:root {
    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-electric: #F8D030;
    --type-grass: #78C850;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dragon: #7038F8;
    --type-dark: #705848;
    --type-steel: #B8B8D0;
    --type-fairy: #EE99AC;
    --pokedex: #40E0D0;
    --bg: #0000006e;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

form {
    display: flex;
    justify-content: center;
}

.info {
    margin-top: 2em
}

p.text-danger {
    display: flex;
    justify-content: center;
}

li.pokemon-card-s {
    background-color: var(--pokedex);
    filter: drop-shadow(0 0 5px black);
    border-radius: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

p.total {
    display: flex;
    justify-content: center;
}

p.pokemon-name-link {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: black;
}

.pokemon-card-l {
    height: 20vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    filter: drop-shadow(0 0 5px black);
    background-color: var(--bg);
    align-content: center;
}

img.pokemon-card-l-img {
    align-self: center;
    height: 80%;
    width: auto;
    object-fit: contain;
    border-radius: 1em;
    filter: drop-shadow(0 0 5px black);
    background-color: var(--bg);
    margin: 1em;
    margin-right: 5em;
}

.type-badge-container {
    display: flex;
    flex-direction: row;
}

.type-badge {
    margin: 1em;
}

.type-badge-div {
    background-color: var(--bg);
    width: fit-content;
    filter: drop-shadow(0 0 10px black);
    border-radius: 0.5em;
    margin: 0.5em;
}

.pokemon-info {
    background-color: var(--bg);
    margin: 0.5em;
}

@media (min-width: 900px) {
    div.pokemon-card-l {
        height: 30vh;
        width: 50vw;
        display: flex;
        flex-direction: row;
        border-radius: 1em;
        filter: drop-shadow(0 0 5px black);
        background-color: var(--bg);
        align-content: center;
    }
}

@media(max-height: 670px) {
    .pokemon-card-l {
        height: fit-content;
    }
}
